{
  "openapi": "3.0.0",
  "info": {
    "title": "地址正規化系統 RESTful APIs",
    "contact": {
      "name": "研鼎智能"
    },
    "version": "1.5"
  },
  "servers": [
    {
      "url": "https://rcisapiuat.taiwanlife.com",
      "description": "UAT"
    }
  ],
  "tags": [
    {
      "name": "地址校正及正規化",
      "description": "地址需進行校正及正規化時使用"
    }
  ],
  "paths": {
    "/addressCheck": {
      "post": {
        "tags": ["地址校正及正規化"],
        "operationId": "postAddressCheck",
        "requestBody": {
          "description": "其他輸入範例請查看「addressCheck API 規格書」",
          "content": {
            "application/json; charset=UTF-8": {
              "schema": {
                "$ref": "#/components/schemas/addressRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "其他輸出範例請查看「addressCheck API 規格書」",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/commonResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "returnData": {
                          "$ref": "#/components/schemas/addressCheckReturnData"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "BAD REQUEST",
            "content": {
              "application/json; charset=UTF-8": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/commonResponse"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "returnData": {
                          "$ref": "#/components/schemas/checkBadRequest"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "commonResponse": {
        "type": "object",
        "properties": {
          "transactionId": {
            "description": "本次交易的 uniqueID",
            "type": "string",
            "example": "8D78EFB2-56F1-4FEA-B058-2A6D87D66D6E"
          },
          "returnCode": {
            "description": "Service Provider API回傳的訊息代碼",
            "type": "string"
          },
          "returnMessage": {
            "description": "Service Provider API回傳的訊息",
            "type": "string"
          },
          "returnData": {
            "description": "API回傳的數據",
            "type": "object"
          }
        },
        "required": [
          "transactionId",
          "returnCode",
          "returnMessage",
          "returnData"
        ]
      },
      "addressRequest": {
        "type": "object",
        "properties": {
          "address": {
            "description": "查詢地址",
            "type": "string",
            "example": "臺中市南屯區田心里向心路６３巷３弄３號（地下２樓）"
          },
          "consumer": {
            "description": "系統名稱",
            "type": "string",
            "example": "保戶的家"
          }
        },
        "required": ["address", "consumer"]
      },
      "addressCheckReturnData": {
        "type": "object",
        "properties": {
          "status": {
            "description": "API 呼叫回傳代碼",
            "type": "string",
            "example": "OK"
          },
          "normalized": {
            "description": "標準地址",
            "type": "string",
            "example": "台中市南屯區田心里向心路６３巷３弄３號"
          },
          "exists": {
            "description": "地址是否存在",
            "type": "string",
            "example": "Y"
          },
          "recommended": {
            "description": "建議地址",
            "type": "string",
            "example": "台中市南屯區田心里向心路６３巷３弄３號"
          },
          "postcode3": {
            "description": "三碼郵遞區號",
            "type": "string",
            "example": "408"
          },
          "postcode33": {
            "description": "3+3碼郵遞區號",
            "type": "string",
            "example": "408008"
          },
          "isLatest": {
            "description": "地址是否為最新",
            "type": "string",
            "example": "N"
          },
          "latestAddr": {
            "description": "最新地址",
            "type": "string",
            "example": "台中市南屯區田心里惠德街８１巷３號"
          },
          "notes": {
            "description": "括弧內字串",
            "type": "string",
            "example": "地下２樓"
          },
          "redundantTextInQuery": {
            "description": "其他非地址文字",
            "type": "string",
            "example": ""
          },
          "queryQuality": {
            "description": "輸入地址品質分析*",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/queryQuality"
              }
            ]
          },
          "resultAnalysis": {
            "description": "校正結果分析",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/resultAnalysis"
              }
            ]
          },
          "rawResponse": {
            "description": "User 用 API 之輸出參數",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/rawResponse"
              }
            ]
          }
        }
      },
      "queryQuality": {
        "properties": {
          "statusCode": {
            "description": "輸入品質分析代碼",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [0]
          }
        }
      },
      "resultAnalysis": {
        "properties": {
          "statusCode": {
            "description": "校正結果代碼",
            "type": "array",
            "items": {
              "type": "integer"
            },
            "example": [0, 13]
          },
          "returnCode": {
            "description": "客製化校正結果代碼",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["A", "D"]
          }
        }
      },
      "rawResponse": {
        "properties": {
          "html_attribution": {
            "description": "版權宣告",
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["台灣圖霸", "研鼎智能", "PAPAGO!"]
          },
          "results": {
            "description": "校正結果列表",
            "type": "array",
            "items": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/checkResults"
                }
              ]
            }
          },
          "queryQuality": {
            "description": "輸入地址品質分析",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/queryQuality"
              }
            ]
          },
          "status": {
            "description": "API 呼叫回傳代碼",
            "type": "string",
            "example": "OK"
          },
          "message": {
            "description": "非成功回傳之訊息資訊",
            "type": "string",
            "example": ""
          },
          "query": {
            "description": "輸入的文字",
            "type": "string",
            "example": "臺中市南屯區田心里向心路６３巷３弄３號（地下２樓）"
          }
        }
      },
      "checkResults": {
        "properties": {
          "formatted_address": {
            "description": "校正後地址",
            "type": "string",
            "example": "台中市南屯區田心里向心路６３巷３弄３號"
          },
          "doorplateID": {
            "description": "門牌編碼，此為廠商內部使用",
            "type": "string",
            "example": "1946fa31-c9b5-416e-b8df-4083c7bcae22"
          },
          "postcode3": {
            "description": "三碼郵遞區號",
            "type": "string",
            "example": "408"
          },
          "postcode33": {
            "description": "3+3碼郵遞區號",
            "type": "string",
            "example": "408008"
          },
          "city": {
            "description": "縣/市名稱",
            "type": "string",
            "example": "台中市"
          },
          "town": {
            "description": "市/區/鄉名稱",
            "type": "string",
            "example": "南屯區"
          },
          "village": {
            "description": "村/里名稱",
            "type": "string",
            "example": "田心里"
          },
          "lin": {
            "description": "鄰",
            "type": "string",
            "example": "19"
          },
          "road": {
            "description": "道路名稱",
            "type": "string",
            "example": "向心路"
          },
          "hamlet": {
            "description": "地區名稱",
            "type": "string",
            "example": ""
          },
          "lane": {
            "description": "巷",
            "type": "string",
            "example": "63巷"
          },
          "alley": {
            "description": "弄",
            "type": "string",
            "example": "3弄"
          },
          "lon": {
            "description": "衖",
            "type": "string",
            "example": ""
          },
          "num": {
            "description": "號",
            "type": "string",
            "example": "3號"
          },
          "floor": {
            "description": "樓層",
            "type": "string",
            "example": ""
          },
          "numAttr": {
            "description": "臨/附號",
            "type": "string",
            "example": ""
          },
          "residenceID": {
            "description": "戶別編碼，此為廠商內部使用",
            "type": "string",
            "example": "30e52acc-3002-465a-bd2c-cec3136206f7"
          },
          "compType": {
            "description": "編定類別",
            "type": "string",
            "example": ""
          },
          "compDate": {
            "description": "編訂日期",
            "type": "string",
            "example": ""
          },
          "trxDate": {
            "description": "異動日期",
            "type": "string",
            "example": ""
          },
          "redundantTextInQuery": {
            "description": "其他非地址文字",
            "type": "string",
            "example": ""
          },
          "geom": {
            "description": "地址座標",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/geom"
              }
            ]
          },
          "resultAnalysis": {
            "description": "校正結果分析",
            "type": "object",
            "allOf": [
              {
                "$ref": "#/components/schemas/resultAnalysis"
              }
            ]
          }
        }
      },
      "geom": {
        "properties": {
          "type": {
            "description": "座標類別",
            "type": "string",
            "example": "Point"
          },
          "coordinates": {
            "description": "座標類別",
            "type": "array",
            "items": {
              "type": "number"
            },
            "example": [120.64353, 24.139565]
          }
        }
      },
      "checkBadRequest": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "example": "BAD_REQUEST"
          },
          "normalized": {
            "type": "string",
            "example": ""
          },
          "exists": {
            "type": "string",
            "example": ""
          },
          "recommended": {
            "type": "string",
            "example": ""
          },
          "isLatest": {
            "type": "string",
            "example": ""
          },
          "latestAddr": {
            "type": "string",
            "example": ""
          },
          "notes": {
            "type": "string",
            "example": ""
          },
          "reduntTextInQuery": {
            "type": "string",
            "example": ""
          },
          "queryQuality": {
            "type": "object",
            "properties": {
              "statusCode": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": []
              }
            }
          },
          "resultAnalysis": {
            "type": "object",
            "properties": {
              "statusCode": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "example": []
              },
              "returnCode": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": []
              }
            }
          },
          "rawResonse": {
            "type": "object",
            "properties": {
              "html_attribution": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["台灣圖霸", "研鼎智能", "PAPAGO!"]
              },
              "result": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "example": []
              },
              "queryQuality": {
                "type": "object",
                "properties": {
                  "statusCode": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "example": []
                  }
                }
              },
              "status": {
                "type": "string",
                "example": ""
              },
              "message": {
                "type": "string",
                "example": "INVALID_INPUT_PARAM_156705"
              },
              "query": {
                "type": "string",
                "example": "0"
              }
            }
          }
        }
      }
    }
  }
}
